.header{
	background: #4aaaa5;
	width:20%;
	height: 50px;
	float:top;
	margin-left: 70px;
}
.top{
	float:right;
	float:top;
	margin-top:-40px;
	margin-right:100px;
}
.top li{
	float:left;
	padding-right: 5px;
}
.center{
	float:left;
}
.aboutme{
	margin-left:70px;
	float:left;
	width:50%;
}
.connect{
	float:left;
	float:top;
	margin-left:80%;
	margin-top:-100px;
	height:20%;
	width:80%;
}
.footer{
	width:100%;
	height:11%;
	clear:both;
	float:bottom;
	background:#666666;

}